# Указываем, что все файлы с расширением .cpp, .h, .hpp являются текстовыми
*.cpp text
*.h text
*.hpp text

# Указываем, что файлы с расширениями .c, .cc, .cxx, .m, .mm также текстовые
*.c text
*.cc text
*.cxx text
*.m text
*.mm text

# Обрабатываем файлы сборки и настройки
*.pro text
Makefile text

# Бинарные файлы (для предотвращения автоматического изменения этих файлов)
*.o binary
*.a binary
*.so binary
*.exe binary
*.dll binary
*.dylib binary
*.pdb binary
*.lib binary

# Для файлов с конфигурациями CMake и других build-скриптов
CMakeLists.txt text
*.cmake text
*.ninja text

# Для других файлов, которые могут быть специфичны для вашей системы
*.log binary
*.swp binary